<h1>Proyectos</h1>

<section>
  <div>
    <h3>Agregar Proyecto</h3>
    <h4>Proyecto a agregar: {{ name() }}</h4>

    <input
      type="text"
      placeholder="Nombre del Proyecto"
      [value]="name()"
      (input)="changeName(txtName.value)"
      #txtName
    />

    <input
      type="text"
      placeholder="Descripción del Proyecto"
      [value]="description()"
      (input)="changeDescription(txtDescription.value)"
      #txtDescription
    />

    <button (click)="addProyecto()">Agregar</button>
  </div>
